# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fdhzkqyepkdloiukggvh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkaHprcXllcGtkbG9pdWtnZ3ZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODU3MTEsImV4cCI6MjA4OTE2MTcxMX0.vYiFI9gmtodBtZN3p-IaNwMtK3tJSOa0r90w8CNMuGM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkaHprcXllcGtkbG9pdWtnZ3ZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU4NTcxMSwiZXhwIjoyMDg5MTYxNzExfQ.8JPc5ovo_8tUOjRIyFYx_Xs_Pn8VBfcc6uh-PR7J2tc

# Razorpay
# Get your Key ID and Secret from: Razorpay Dashboard -> Settings -> API Keys
RAZORPAY_KEY_ID=rzp_live_SIT6nw0rSwlNIJ
RAZORPAY_KEY_SECRET=CR1xRD5sjsZ6ZAQay37dwD14
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SIT6nw0rSwlNIJ # Required for frontend initialization

# Monthly Plan IDs
NEXT_PUBLIC_RAZORPAY_LAUNCHPAD_PLAN_ID=plan_SRyaX5FGZkpkqD
NEXT_PUBLIC_RAZORPAY_GALAXY_PLAN_ID=plan_SRybEPgTp3W7Y7
NEXT_PUBLIC_RAZORPAY_UNIVERSA_PLAN_ID=plan_SRybkbpeRtFE2l
RAZORPAY_WEBHOOK_SECRET=

# Resend (email)
RESEND_API_KEY=re_e5Kv3wm5_JpJjTWs5w36ixxLTaPAmpJ6v
RESEND_FROM_EMAIL=onboarding@resend.dev

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAIL=neevrambhia06@gmail.com
ENCRYPTION_KEY=71891686762b167b1abfa531e8626c48# 32-char key for vault encryption (AES-256)
